:root {
  --dark-pink: #876969;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #facece;
  --dark-red: #850000;
  --dark-green: #5e7b19;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
}

.clear {
  background-color: var(--light-pink);
  color: var(--dark-red);
  border-color: var(--dark-red);
}

input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

label,
input,
select {
  border: 0;
}

button {
  min-height: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  background-color: var(--dark-pink);
  color: white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

fieldset {
  margin-bottom: 10px;
  border: var(--dark-pink) solid 2px;
  border-radius: 10px;
}

.output {
  border: 2px solid var(--dark-pink);
  padding: 10px;
  text-align: center;
}

#entry-dropdown {
  background-color: white;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: white;
  background-color: var(--dark-green);
  padding: 5px 50px;
}

.deficit {
  color: var(--dark-red);
}
